<template>
    <datepicker :input-class="inputClass" :name="name" :value="value"></datepicker>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            Datepicker
        },

        props: ['input-class', 'name', 'value']
    }
</script>
