.btn {
	@apply .shadow .font-bold .py-2 .px-4 .rounded;
}

.btn-blue {
	@apply .bg-blue .text-white;
}

.btn-blue:hover {
	@apply .bg-blue-light
}

.btn-red {
	@apply .bg-red .text-white;
}

.btn-red:hover {
	@apply .bg-red-light
}

.text-field {
	@apply .bg-grey-lighter .appearance-none .border-2 .border-grey-lighter .rounded .w-full .py-2 .px-4 .text-grey-darker;
}

.label {
	@apply .block .text-grey .font-bold .mb-1 .pr-4;
}